#header {
    margin-top: 20px;
}


.navbar {
    background-color: #4BC2BF;
}

body {
    position: relative;
}


#welcome {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
}

#center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

#main {
    width: 50%;

}

body h1,
body h2 {
    color: #254441;
    text-align: left;
}


.buttons a {
    margin: 10px 0;
    width: 7em;
}


.card-img-top {
    max-height: 190px;
}

.compliment {
    font-size: 1.5rem;
    width: 45%;
}


#personal-img {
    border-radius: 25px;
    opacity: 0.9;
}


#about {
    padding-top: 100px;
    padding-bottom: 50px;
}

.card {
    border: 0;
    margin: 10px;
}


.row {
    margin: 100px;
}

#projects i {
    text-align: center;
}


.icons {
    text-align: center;
}

.icons i {
    display: inline-block;

}

.social a {
    color: #333333;
    font-size: 1.5em;
    text-align: center;
    text-decoration: none;
    padding: 5px;
}



#projects,
#about,
#contact {
    padding: 50px;
}


#projects,
#about,
#contact h2 {
    color: black;
}

#nav {
    text-align: right;
    font-size: 1.2em;
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    position: fixed;
    top: 27.6%;
    left: 15%;
}

.active {
    color: white;
}

#nav a {
    color:#94C5CC;
    text-align: right;
}

#nav a.active {
    color: #333333;
}
